.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  width: 100%;
  background-color: transparent;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}