.card-square {
  min-height: 210px;
  max-width: 400px;
  width: 100%;
  padding: 32px;
  border-radius: var(--br-1);
  box-shadow: 0px 0px 80px rgba(44, 44, 45, 0.35);
  background: var(--gradient-2);
}

.card-square:nth-child(2) {
  background: var(--shade-1);
}

.card-square:nth-child(2) .card-square__caption,
.card-square:nth-child(2) .card-square__text {
  background: var(--gradient-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-square__caption {
  font-size: 24px;
  margin-bottom: 15px;
}

.card-square__text {
  line-height: 1.4;
}