@import './fonts.css';

@import './variables.css';
@import './grid.css';
@import './global.css';

/* template */
@import './components/template/header.css';
@import './components/template/main.css';

/* ui */
@import './components/ui/buttons.css';
@import './components/ui/titles.css';

/* sections */
@import './components/sections/first-screen.css';
@import './components/sections/benefits.css';

/* blocks */
@import './components/menu-burger.css';
@import './components/full-menu.css';
@import './components/navigation-main.css';

#space {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}