@import './fonts.css';

@import './variables.css';
@import './grid.css';
@import './global.css';

/* template */
@import './components/template/header.css';

/* ui */
@import './components/ui/buttons.css';
@import './components/ui/menu.css';
@import './components/ui/full-menu.css';

/* blocks */
@import './components/first-screen.css';


#space {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}