.title-primary {
  font-size: 80px;
  font-weight: 400;
}

@media (max-width: 1023) {
  .title-primary {
    font-size: 40px;
  }
}

.title-secondary {
  font-size: 48px;
  letter-spacing: .5px;
}

@media (max-width: 1023) {
  .title-secondary {
    font-size: 28px;
  }
}

.title-tertiary {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .5px;
}

@media (max-width: 1023) {
  .title-tertiary {
    font-size: 18px;
  }
}